@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #42a7ff;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #42a7ff;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / lists */
.blogs-title{
  padding: 0px 16px;
  color: #42a7ff;
}

.blog-preview{
  padding: 10px 16px;
  margin: 20px 0px;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  border-radius: 8px;
  cursor: pointer;
}

.blog-preview h2{
  font-size: 20px;
  color: #42a7ff;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

/* blog edtails page */
.blog-details h2{
  font-size: 20px;
  color: #42a7ff;
  margin-bottom: 8px;
}

.blog-details div{
  margin: 20px 0;
}

.blog-details button{
  background: #43a7ff;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Create blog */
.create{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create-label{
  text-align: left;
  display: block;
}

.create h2{
  font-size: 20px;
  color: #43a7ff;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button{
  background: #43a7ff;
  color: #fff;
  border:0;
  padding: 8px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.create button:hover{
  background: #3e9bed;
}

.button{
  background: #43a7ff;
  color: #fff;
  border:0;
  padding: 8px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}